# InelliJ IDEA files
*.iml
*.ipr
*.ids
*.iws
.idea/

# Visual Studio Code
.vscode

# Eclipse files
.project
.metadata
.classpath
.settings/
.loadpath
bin/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.bzip
*.7z
*.gz
*.tar.gz
*.rar
*.xz
*.lzma

# package managment formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# OS dependant files
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
